.popup__registered-link {
  display: block;
  width: max-content;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #2f71e5;
  text-decoration: none;
  margin-top: 16px;
  font-size: 18px;
  line-height: 22px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.popup__registered-link:hover {
  color: #347eff;
}
