.footer__container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}

@media (max-width: 768px) {
  .footer__container {
    min-height: 64px;
  }
}

@media (max-width: 700px) {
  .footer__container {
    flex-direction: column-reverse;
    padding-top: 20px;
    padding-bottom: 22px;
    min-height: 176px;
  }
}
