@import './_mobile-opened.css/header__nav_mobile-opened.css';

@media (max-width: 700px) {
  .header__nav {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
  }
}
