.author__text-column {
  box-sizing: border-box;
  padding-right: 110px;
  width: 55%;
  margin-left: 56px;
}

@media (max-width: 1280px) {
  .author__text-column {
    padding-right: 20px;
    width: 65%;
    margin-left: 32px;
  }
}

@media (max-width: 768px) {
  .author__text-column {
    padding-right: 0;
    width: 62%;
  }
}

@media (max-width: 700px) {
  .author__text-column {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
